:root {
    --primary-color: #A82122;
    --secondary-color-dark: #2D2D2D;
    --primary-color-dark: #1B1B1B;
    --primary-color-darker: #0E0D0D;
    --main-bg-color: rgba(98, 98, 98, 0.34);
    --aside-bg-color: rgba(45, 45, 45, 0.4);
    --text-dark: #1B1B1B;
    --text-light: #ffff;
    --extra-light: #ffff;
}

/* SCROLL BAR */

html::-webkit-scrollbar {
    width: 0px;
}


/* HTML COMPONENTS CSS */

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    font-family: 'Poppins', sans-serif;
    display: grid;
    grid-template-columns: 15% 1fr minmax(400px, 30%);
    grid-template-rows: 55px 1fr;
    grid-template-areas:
    "header header header"
    "nav main aside";
}

header {
    background-color: var(--primary-color-darker);
    grid-area: header;
    display: flex;
    color: white;
    text-align: left;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
}

header h1 {
    color: var(--primary-color);
    font-size: 25px;
    padding-left: 50px;
}

nav {
    background-color: var(--primary-color-dark);
    grid-area: nav;
    padding-top: 40px; /* Adjusted for header height */
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav li {
    padding: 10px 0px;
    text-align: left;
}

nav a {
    text-decoration: none;
    color: var(--text-light);
    font-weight: 500;
    font-size: 15px;
    padding: 0px 30px;
    text-align: left;
    transition: 0.3s;
}

nav li :hover {
    font-size: 18px;
    transform: translateY(-3px);
}


main {
    background-color: var(--main-bg-color);
    grid-area: main;
    justify-content: center;
}

aside {
    background-color: var(--aside-bg-color);
    grid-area: aside;
    color: var(--text-light);
    padding: 30px;
}

@media (max-width: 1220px) {
    body {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 55px minmax(500px, 1fr) minmax(30%, auto);
        grid-template-areas:
        "header"
        "main"
        "aside";
    }
    nav {
        display: none;
    }
}


/* OTHER CSS */


.btn-explore {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    margin: 0px 20px;
    border-radius: 10px;
    transition: 0.5s;
}

.btn-explore:hover {
    background-color: var(--primary-color-darker);
    font-size: 18px;
    transform: translateY(-3px);
}

.media-player {
    background-color: var(--main-bg-color);
    width: 96%;
    height: 75%;
    margin: 2% 2%;
    border-radius: 10px;
}

.header-actions h1 {
    color: var(--extra-light);
    font-size: 17px;
    font-weight: normal;
    padding-right: 50px;
    cursor: pointer;
}

.desc-container{
    margin-top: 70px;
    position: relative;
}

.desc-container h2::before {
    content: '';
    background-color: var(--text-light);
    width: 80%;
    height: 1px;
    position: absolute;
    top: -30px;
    left: 0px;
}